
body {
    background-color: black;
}

.main-nav {
    background-color: black;
    opacity: 0.9;
    position: sticky;
    top: 0;
    padding: 5px 0 5px 0;
    height: 50px;
    display: flex;
    align-items: center;
}

.main-nav:hover {
    opacity: 1;
}

ul {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

li {
    list-style-type: none;
    color: white;
    font-size: 20px;
}

a:link {
    color: white;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 60px;
    padding: 0 10px 0 10px;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
    background-color: lightgray;
}

a:active {
    color: white;
}

.hero {
    background: url(assets/images/pizza.webp) no-repeat center/cover;
    height: 800px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.restaurant-name {
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
}

.hero-menu {
    background-color: black;
    opacity: .9;
    font-size: 35px;
    border-radius: 7px;
    margin-bottom: 6px;
    border: 2px solid grey;
}

.open-time {
    background: rgba(0, 0, 0, .8);
    font-size: 20px;
    border-radius: 3px;
    padding: 1px 4px 1px 4px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-container {
    width: 1000px;
}

.menu-heading {
    display: flex;
    justify-content: center;
    color: lightgray;
}

.menu-nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    border-bottom: 0px;
}

.menu-nav > a:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.menu-nav > a > div {
    font-size: 25px;
}

.pizza-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.sides-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.starter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.item-price {
    background-color: lightgrey;
    color: black;
    border-radius: 2px;
    padding: 3px 5px 3px 5px;
}

.pizza-container > h1 {
    margin-top: 25px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.pizza-container > p {
    margin-top: 10px;
    margin-bottom: 1px;
}

.sides-container > h1 {
    margin-top: 25px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.sides-container > p {
    margin-top: 10px;
    margin-bottom: 1px;
}

.starter-container > h1 {
    margin-top: 25px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.starter-container > p {
    margin-top: 10px;
    margin-bottom: 1px;
}

.item-description {
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
    font-size: 25px;
}

h2 {
    display: flex;
    justify-content: center;
}

.about {
    color: lightgrey;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.about-container {
    padding-left: 100px;
    padding-right: 100px;
    width: 1000px;
}

.about-container > p {
    font-size: 20px;
}

.pizza-chef {
    width: 75%;
    max-width: 100%;
    min-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.location {
    background-image: url(assets/images/overhead-street.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.contact {
    background-color: rgb(155, 162, 172);
    display: flex;
    justify-content: center;
    color: white;
}

.contact-container {
    width: 1000px;
}

.contact-container > h1 {
    text-align: center;
}

.contact-container > p {
    font-size: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

input {
    margin-bottom: 20px;
}

footer {
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen {
}